#github-widget {
  background-color: $green;
  border-bottom: 10px solid darken($green, 10%);
  li {
    list-style: none;
    &:before {
      @extend .icomoon;
    }
    &[data-type*=Push]:before {
      content: '\e600';
    }
    &[data-type*=Issues]:before {
      content: '\e602';
    }
    &[data-type*=Comment]:before {
      content: '\e601';
    }
    &[data-type*=Fork]:before {
      content: '\e605';
    }
  }
}
