#twitter-widget {
  li {
    list-style: none;
    display: table;
    .user, .tweet, .timePosted, .interact {
      display: table-cell;
      padding: 10px;
    }
    .user {
      width: 200px;
      img {
        float: left;
        margin-right: 10px;
      }
      span {
        display: block;
      }
    }
    .tweet {
      width: 400px;
    }
    .timePosted {
      width: 150px;
    }
    .interact {
      a {
        margin: 10px;
      }
    }
  }
}
