@import url(//fonts.googleapis.com/css?family=Raleway:700|Open+Sans);
@font-face {
  font-family: 'icomoon';
  src: url(../fonts/icomoon.eot?sfd1u1);
  src: url(../fonts/icomoon.eot?#iefixsfd1u1) format("embedded-opentype"), url(../fonts/icomoon.woff?sfd1u1) format("woff"), url(../fonts/icomoon.ttf?sfd1u1) format("truetype"), url(../fonts/icomoon.svg?sfd1u1#icomoon) format("svg");
  font-weight: normal;
  font-style: normal; }
.icomoon, #github-widget li:before {
  font-family: 'icomoon';
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.hover-overlay, #sidebar #social a {
  position: relative; }
  .hover-overlay:hover:before, #sidebar #social a:hover:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: 100; }

body {
  background: #fef2cf url(../images/bg.png);
  font-family: 'Open Sans', sans-serif; }
  body h1, body h2 {
    font-family: 'Raleway', sans-serif; }
  body a {
    text-decoration: none; }

#sidebar a {
  color: white; }
  #sidebar a:hover {
    color: black; }
#sidebar #bio {
  overflow: hidden;
  margin: 20px;
  padding: 20px;
  border-bottom: 10px solid #d37d03;
  background: #fb990e url(../images/bg.png);
  text-align: center; }
  #sidebar #bio:hover {
    background: rgba(251, 153, 14, 0.9) url(../images/bg.png); }
  #sidebar #bio img {
    display: none; }
  @media (min-width: 1024px) {
    #sidebar #bio {
      text-align: left; }
      #sidebar #bio img {
        display: block;
        float: left; } }
#sidebar #social {
  margin: 20px;
  padding: 20px;
  border-bottom: 10px solid #e6e6e6;
  background: white url(../images/bg.png);
  text-align: center; }
  #sidebar #social:hover {
    background: rgba(255, 255, 255, 0.9) url(../images/bg.png); }
  #sidebar #social a {
    display: inline-block;
    width: 60px;
    width: -webkit-calc(30% - 40px);
    width: calc(30% - 40px);
    max-width: 60px;
    height: 50px;
    padding: 20px;
    background-position: center;
    background-repeat: no-repeat; }
  #sidebar #social .twitter {
    background-color: #3f93e9;
    background-image: url(../images/twitter.png); }
  #sidebar #social .gplus {
    background-color: #da4735;
    background-image: url(../images/gplus.png); }
  #sidebar #social .github {
    background-color: black;
    background-image: url(../images/github.png); }
@media (min-width: 1024px) {
  #sidebar {
    width: 450px;
    float: left; } }

#github-widget {
  margin: 20px;
  padding: 20px;
  border-bottom: 10px solid #009900;
  background: #00cc00 url(../images/bg.png);
  display: none; }
  #github-widget:hover {
    background: rgba(0, 204, 0, 0.9) url(../images/bg.png); }
  #github-widget ul {
    padding: 0; }
  #github-widget li {
    position: relative;
    padding-left: 2em;
    list-style: none; }
    #github-widget li:before {
      position: absolute;
      left: 0.5em; }
    #github-widget li[data-type^=Push]:before {
      content: '\e603'; }
    #github-widget li[data-type^=Issues]:before {
      content: '\e607'; }
    #github-widget li[data-type^=Fork]:before {
      content: '\e609'; }
    #github-widget li[data-type^=Create]:before {
      content: '\e601'; }
    #github-widget li[data-type^=Delete]:before {
      content: '\e608'; }
    #github-widget li[data-type^=Gollum]:before {
      content: '\e600'; }
    #github-widget li[data-type^=Member]:before {
      content: '\e605'; }
    #github-widget li[data-type^=Public]:before {
      content: '\e606'; }
    #github-widget li[data-type^=Release]:before {
      content: '\e60e'; }
    #github-widget li[data-type^=Watch]:before {
      content: '\e60b'; }
    #github-widget li[data-type*=Comment]:before {
      content: '\e604'; }
    #github-widget li[data-type=PullRequestEvent]:before {
      content: '\e602'; }
    #github-widget li a:nth-child(2) {
      display: inline-block; }
    #github-widget li:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  @media (min-width: 1024px) {
    #github-widget {
      display: block; } }

#main article {
  margin: 20px;
  padding: 20px;
  border-bottom: 10px solid #e6e6e6;
  background: white url(../images/bg.png);
  overflow: hidden; }
  #main article:hover {
    background: rgba(255, 255, 255, 0.9) url(../images/bg.png); }
  #main article a {
    color: #0d8ad2; }
    #main article a:hover {
      color: #21a5f1; }
  #main article .img-container {
    float: right;
    margin: 10px;
    max-width: 50%; }
    @media (max-width: 480px) {
      #main article .img-container {
        max-width: -webkit-calc(100% - 20px);
        max-width: calc(100% - 20px); } }
    #main article .img-container img {
      border: 2px solid black;
      border-radius: 10px;
      width: 100%;
      max-width: 400px; }
  #main article .lang {
    font-size: 0.75em;
    color: #999; }
    #main article .lang:before {
      content: ' - '; }
@media (min-width: 1024px) {
  #main {
    overflow: auto; } }
