$orange: #fb990e;
$green: #0efb99;

@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@font-face {
    font-family: 'icomoon';
    src:url('../fonts/icomoon.eot?sfd1u1');
    src:url('../fonts/icomoon.eot?#iefixsfd1u1') format('embedded-opentype'),
        url('../fonts/icomoon.woff?sfd1u1') format('woff'),
        url('../fonts/icomoon.ttf?sfd1u1') format('truetype'),
        url('../fonts/icomoon.svg?sfd1u1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.icomoon {
  font-family: 'icomoon';
  margin-right: 10px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
    font-family: 'Droid Sans', sans-serif;
}

#sidebar {
  section {
    margin: 20px;
    padding: 10px;
  }
  width: 35%;
  float: left;
  #bio {
    overflow: hidden;
    background-color: $orange;
    border-bottom: 10px solid darken($orange, 10%);
    img {
      float: left;
    }
  }
  @import 'github';
}

#main {
  width: 65%;
  float: right;
}
